<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/89a98874f1.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Travel App</h1>
      </header>
      <main>
        <form id="location" action="">
          <div class="location-form">
            <label for="place-name">My trip to: </label>
            <input
              type="search"
              id="place-name"
              placeholder="Enter the place to visit here"
              onfocus="this.value=''"
            />
          </div>
          <div class="location-form">
            <label for="departing">Departing:</label>
            <input type="date" name="departing-date" id="departing" />
          </div>
          <div class="submit-button">
            <button
              id="show"
              type="submit"
              onclick="Client.handleSubmit(event)"
            >
              Show Me!
            </button>
          </div>
          <div class="show-error">
            <h3 id="err"></h3>
          </div>
        </form>
        <div class="details">
          <img src="" alt="location image" id="loc-image" />
          <h3 id="place"></h3>
          <h3 id="date"></h3>
          <h4 id="content"></h4>
          <h4>Typical Weather for then is:</h4>
          <h5><span id="high"></span><span id="low"></span></h5>
          <p id="forecast"></p>
          <p id="error-message"></p>
        </div>
      </main>
      <footer>
        <h3>Copyright <i class="far fa-copyright"></i> 2019</h3>
      </footer>
    </div>
  </body>
</html>
