body {
  margin: 0;
  padding: 0;
  background-color: #b1a296;
}
.container {
  margin: auto;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 15% auto 20%;
  grid-gap: 1.5%;
  padding-top: 0;
  background-color: rgb(245, 219, 223);
}
.hide {
  display: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: lightgray;
}
header h1 {
  margin: 0;
  font-family: courier, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5vw;
}

main {
  min-width: 96%;
  padding: 2%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  margin: 0;
  min-width: 60%;
  min-height: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2%;
  border: 2px solid grey;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(104, 101, 101);
}
.location-form {
  width: 100%;
  height: 25%;
  padding: 2%;
}
label {
  color: darkgreen;
  font-weight: bold;
}
input[type="search"],
input[type="date"] {
  width: 100%;
  font-size: 1.4em;
  padding: 12px, 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-bottom: 2px solid rgb(49, 47, 47);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(245, 219, 223);
}
button[type="submit"] {
  width: 80%;
  font-size: 1.4em;
  padding: 12px, 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: darkolivegreen;
  border-radius: 4px;
  color: white;
  margin-top: 40px;
  &:hover {
    background-color: rgb(122, 177, 27);
  }
}

.show-error {
  color: red;
}

.plan {
  width: 100px;
  height: 50px;
  margin-left: -40px;
}
#plan-trip {
  border-radius: 30px;
}

#high,
#low {
  font-size: 1.3em;
}

.details {
  color: rgb(44, 58, 21);
}
footer {
  background-color: lightgray;
  text-align: center;
  padding: 20px 0;
  a {
    &:link {
      text-decoration: none;
      color: darkslategray;
      cursor: default;
    }
  }
}

@media only screen and (max-width: 380px) {
  header h1 {
    font-size: 7vw;
  }
  img {
    max-width: 100%;
  }
  .plan {
    margin-left: 2px;
  }
}
